@keyframes showModRight {
  0% {
    -webkit-transform: translateX(500px);
    transform: translateX(500px);
    opacity: 0;
  }

  80% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}
@keyframes showModLeft {
  0% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
    opacity: 0;
  }

  80% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 0.8;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showModScale {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  50% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}